footer {
    width: 100%;
    background: #ededee;
    color: #85898F;
    // border-top: 1px rgba(0, 0, 0, 0.1) solid;

    .social-link-container {
        // dis-f ai-c
        display: flex;
        align-items: center;
    }

    .social-link {
        text-decoration: underline;
        cursor: pointer;
    }


    h6 {
        &:hover {
            cursor: pointer;
            color: #FBBF04;
        }
    }

    .top-line {
        border-top: 2px solid grey;
    }

    .contactus {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    p {
        color: rgb(13, 12, 67) !important;
        margin: 0 !important;
        font-size: 14px;
        // margin-top: 20px;
    }

    h4 {
        font-weight: 400;
        font-size: 22px;
    }

    h6 {
        color: #85898F;
    }

    h5 {
        color: rgb(0, 178, 200);
    }

    .submit-btn {
        border-radius: 50px;
        position: absolute;
        right: 0;
        top: 0;
        background: #FBBF04;
        color: black;
    }

    @media (max-width:600px) {
        .top-line {
            border-top: 0px solid grey;
        }

        .social-link-container {
            flex-direction: column;
            align-items: start;
        }

        .contactus {
            flex-direction: column;
            align-items: start;
            display: none;
        }

    }

    @media (min-width:600px) {
        .top-line {
            border-top: 0px solid grey;
        }

        .social-link-container {
            flex-direction: column;
            align-items: start;
        }


    }
}